name: Generate JavaDoc

# following generates JavaDoc for the application and saves to GitHub Pages
on:
  push:
    branches: ['**']

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Generate Javadoc
        run: mvn javadoc:javadoc

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/site/apidocs # Maven's default output folder
          branch: gh-pages # The branch where docs will live
